
body{
	

}


.class-for-index {
	background-image: url("img/green-bamboo-ppt-backgrounds.jpg");
	margin:0px;
	height:100vh;
	font-family:"Open Sans",sans-serif;
}


.text-animation {
  text-align:center;
  text-transform:uppercase;
  letter-spacing:5px;
  background:linear-gradient(90deg, #000,#f5f5f5,#000);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  background-repeat:no-repeat;
  background-size:80%;
  position:relative;
  animation:shine 4s ease-in-out infinite;
}
.text-animation h2 {
  font-size:50px;
  margin-bottom:20px;
}
.text-animation p {
  font-size:25px;
  font-weight:600;
 
 }

@keyframes shine {
  from {
    background-position-x:-500%;
  }
  to {
    background-position-x:500%;
  }
}

.border {
	border: 3px;
	border-style: solid;
	border-radius: 5px;
}

h4{
	color: green;
	text-decoration: underline;
 }

.class-for-articles {
	background-color: #32C350;
}

.class-for-who-am-i {
	background-image: url("img/question-background-images-2.png");
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
